<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3xsLfaUwTII9I6Wtygtfb-MHGRmsSKXA</string>
	<key>GCM_SENDER_ID</key>
	<string>854930367185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>berkaydisli.PostsUIKitSample</string>
	<key>PROJECT_ID</key>
	<string>postsuikitproject</string>
	<key>STORAGE_BUCKET</key>
	<string>postsuikitproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854930367185:ios:5b3a72493cb475301f5bf0</string>
</dict>
</plist>